main {
  display: grid;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: 1fr 1fr 5fr; */
  padding: 1em;
  font-size: 0.5em;
}

.movie {
  border: 1px solid white;
  padding: 1em;
  color: currentColor;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-color: #333333bf;
  background-blend-mode: multiply;
}
